<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://36.152.210.242:5566/assets/demo/cangnanshuiwu/H5C8480E3_0712141510.ipa</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
						<key>needs-shine</key>  
                        <true/> 
                        <key>url</key>
                        <string>http://36.152.210.242:5566/assets/demo/cangnanshuiwu/57.png</string>
                    </dict>
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
						<key>needs-shine</key>  
                        <true/> 
                        <key>url</key>
                        <string>http://36.152.210.242:5566/assets/demo/cangnanshuiwu/512.png</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.philisense.myvueproject</string>
                    <key>bundle-version</key>
                    <string>1.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>苍南水务</string>
                    <key>New item - 2</key>
                    <string></string>
                    <key>New item</key>
                    <string></string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>

